* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(216, 219, 221, 0.167);
}

.mainSection {
  width: 90vw;
  position: absolute;
  left: 5%;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 30px grey;
}

.padding {
  width: 100%;
  padding: 0 1.5rem;
}

.mainTitleContainer,
.inputDiv,
.textareaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

textarea {
  width: 100%;
  font-size: 1.2rem;
  margin-left: 1rem;
  background-color: white;
  border: none;
  resize: none;
  padding: 1px;
  padding-top: 20px;
  height: 3.5rem;
}

.clearCompleted {
  width: 100%;
  height: 3.5rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.clearCompleted:focus {
  background-color: rgba(0, 255, 255, 0.153);
}

.enterBtn {
  border: none;
  background-color: white;
}

#inputField {
  padding: 0.5rem;
  width: 66rem;
  border: none;
  height: 3.5rem;
  font-size: 1rem;
  font-style: italic;
}

h1 {
  width: 100%;
}

hr {
  width: 100%;
  height: 1px;
  background-color: black;
}

.fa,
.checkbox {
  font-size: 2rem;
  cursor: pointer;
}

.controller {
  display: none;
  flex-direction: row-reverse;
  gap: 15px;
  margin-right: 2rem;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.refresh {
  animation: rotate 0.1s ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    color: red;
  }

  100% {
    transform: rotate(360deg);
    color: aqua;
  }
}
